.custom {
  padding: 4rem;
}

.register {
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  align-self: baseline;
}

input:placeholder-shown {
  border: 2px solid rgb(84, 79, 197);
}

#linkk {
  border-bottom: 2px solid transparent;
}

#linkk:hover {
  border-bottom: 2px solid rgb(84, 79, 197);
}

.kpp {
  color: rgb(84, 79, 197);
}

@media (max-width: 830px) {
  .custom {
    padding: 1rem;
  }
}
/* --------------------------------------------------- */

@media (max-width: 767px) {
  .navbar-collapse {
    flex-direction: row-reverse !important;
  }

  /* .navbar-nav {
    margin-left: auto;
  }

  .navbar-toggler-icon {
    order: -1;
  } */
}
